<div class="new-account">
  <div class="login">
    <h2>Create Account</h2>
    <br>
    <%= form_for @user,:html=>{:class => 'login-form'} do |f| %>  
      <%= f.label :first_name, "first name" %>
      <%= f.text_field :first_name, class: "form-control" %>

      <%= f.label :last_name, "last name"  %>
      <%= f.text_field :last_name, class: "form-control" %>
    
      <%= f.label :email, "email"  %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password, "password"  %>
      <%= f.password_field :password, class: "form-control" %>
    
      <%= f.label :password_confirmation, "confirm password" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
      <br>
      <%= hidden_field_tag('redirect_back', params[:redirect_back]) %>
      <%= f.submit "Submit", class: 'btn btn-default btn-lg btn-submit' %>
    <% end %>
    <br>
    Click <%= link_to "here", new_organization_path %> to Create Organization Account
    <br>
    <br>
    <br>
    <%= link_to "<- Back", root_path %>
  </div>
</div>