<div class="container org-show">
  <h1><%= @organization.name %></h1>
  <br>
  <div class="panel">
    <h2>Who We Are</h2>
    <h2><%= @organization.bio %></h2>
    <br>
    <div>
      <h2>Our Locations Around The World</h2>
      
    </div>
    <br>
    <% if current_user %>
      Email: <a href="mailto: <%= @organization.email%>"><%= @organization.email %></a>
      <br>
      Phone: <%= @organization.phone %>
    <% else %>
      <%= button_to "Sign In To Contact Us", login_path, { method: :get, params: {redirect_back: organization_path(@organization)} } %>
    <% end %>
  </div>

  <% if @locations %>
    <div id="map" data-locations="<%= @locations %>" data-hq="<%= @org_hq %>"></div>
  <% end %>

  <br>
</div>

<br>
<br>