<div class="nav">
  <% if current_user && current_user.is_org_admin? %>  
    <div class="globe"><%= link_to image_tag("white-globe.png", width: 45, height: 45), root_path %></div>
    <div class="user-icon" style="float:right;">
      <%= link_to image_tag("user-icon.png", border: 0, width: 35, height: 35), edit_user_path(current_user) %>
      <div class="user-icon-content">
        <%= link_to "Account", edit_user_path(current_user)%>
        <%= link_to "Locations", organization_locations_path(current_user)%>
      </div>
    </div>
  <% elsif current_user %>
    <div class="globe"><%= link_to image_tag("white-globe.png", width: 45, height: 45), root_path %></div>
    <%= link_to image_tag("user-icon.png", border: 0, width: 35, height: 35), edit_user_path(current_user), class: "user-icon" %>
  <% else %>
    <div class="login">
      <%= link_to "login", login_path %> -
      <%= link_to "signup", new_user_path%>
    </div>
  <% end %>
</div>

